<!-- 
    This is just an excerpt, the whole bio can be found here: 
    https://docs.google.com/document/d/1kunaX8U9CUEqMn2Gqy4Id1bHVv1L1mn2oL4S2cZZ11o 
-->
<p class="my-2">
    Die Fragen, die sich aus der Fan-Perspektive über die neue Platte stellen, 
    sind: Was beschreibt der junge Mann mit der schmerzerfüllten Stimme uns dieses Mal? 
    Wie legt er seine meta-schichtigen Beobachtungen diesmal über das rockende Indie-Brett? 
    Und wieso kommen diesmal keine Frauennamen in den Refrains vor? 
</p>
<p class="my-2">
    Das Album heisst «En liaba Gruass» und könnte mit diesen Worten auch von Megawatt stammen. 
    Aber entscheidend ist der Inhalt, n’est-ce pas? 
    Denn begibt man sich erst auf die musikalische Entdeckungsreise zwischen Indie-Klängen, 
    gefühlsertränkten Slacker-Texten und pegeldrückenden Hooklines schwirrt einem der Sound einer vergessenen Generation entgegen. 
    Kaufmann verzichtet auf grobe Sprache, setzt aber auf starke Bilder. 
    Und so sind die Songs des Musikers auch immer als Alltags-Poesie zu verstehen. 
    Obendrein hat er seine Stimme im Griff. Und die kann in so einem Kaufmann Song ganz schöne Kapriolen schlagen, 
    wenn er nicht auch noch gerade ein paar schlonzige Riffs in den Hexenkessel werfen will. Wenn er also singt: 
    «am Morga bini liacht verwirrt», passt das nahtlos in den Bilderrahmen.
</p>

<p class="my-2">
    Authentischer geht es kaum. Wer in den 90ern und nach dem Millennium den Indie-Gitarren englischer und amerikanischer 
    Bands gelauscht hat, fühlt sich von Kaufmanns neuen Werken wieder und wieder abgeholt. Es riecht nach einer muffigen Londoner 
    Open-Mic Taverne, klingt aber so wuchtig, als wären die Songs in den Abbey Road Studios produziert worden.
</p>

<p class="my-2">
    Eine Hörprobe durch das Album zeigt etwas auf: es ist noch immer möglich, handgemachte, analoge und ehrliche Pop-Nummern zu 
    komponieren, die kein Akkordeon enthalten und auch kein Alphorn auf dem Cover brauchen, um ihre Swissness zu verströmen. 
    Manchmal reicht ein aufrichtiger Namensgeber, der sich und seine Wurzeln kennt. Und seine Songs.
</p>

