<!--Copyright section-->
<footer>
    <div class="bg-neutral-200 p-2 text-center text-dark_gray dark:bg-neutral-700">
        <span>
            Coded with <i class="fa-regular fa-heart fa-beat" style="color: #d12929;"></i> by 
            <a class="font-semibold">Dimitri Friedli</a>
            and
            <a class="font-semibold">Raphael Leu  </a>
        </span>
    </div>
</footer>
