<div class="container mx-auto grid md:grid-cols-4 grid-cols-2 gap-8">
    {% for image in site.static_files %}
        {% if image.path contains include.folder %}
        <a href="{{page.shop.lp.link}}" target="_blank">
            <img src="{{ image.path | relative_url }}" alt="image" class="rounded-sm shadow-2xl hover:shadow-inner"/>
        </a>
        {% endif %}
    {% endfor %}
</div>