<script async src="https://www.googletagmanager.com/gtag/js?id=G-P8K0VGL68B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P8K0VGL68B');
</script>