<div class="bg-heroBackground" id="home">

    <div class="px-4">

        <div class="mx-auto max-w-2xl py-4">
            <a href="{{page.hero.cta_link}}" target="_blank">
                <div class="text-center">
                    <h1 class="mb-10 mt-0 text-3xl font-bold tracking-tight sm:text-5xl text-light_gray hover:text-dark_gray">
                        {{page.hero.title}}
                    </h1>
                    <img src="{{page.hero.image}}" class="rounded-sm shadow-2xl hover:shadow-inner" alt="">
                </div>
            </a>
        </div>

    </div>

</div>