<!-- Kontakt -->
<div id="kontakt" class="pt-16 pb-16 bg-contactBackground px-4">
  <h1 class="text-center mb-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">
      Kontakt
  </h1>

  <div class="text-white">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-y-10 gap-x-8 lg:grid-cols-3">
          <!--<div>
            <h2 class="text-3xl font-bold tracking-tight ">EPK</h2>
              <p class="mt-4 leading-7  hover:underline">
                <a href="{{ page.EPK.link }}" target="_blank"> [Download Link] </a> 
              </p>
          </div>-->
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">

            {% for contact in page.contacts %}
            <div class="rounded-2xl p-2">
              <h3 class="text-base font-semibold leading-7">{{ contact.text }}</h3>
              <dl class="mt-3 space-y-1 text-sm leading-6">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>
                    <a class="font-semibold text-indigo-600 hover:underline" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                  </dd>
                </div>
              </dl>
            </div>
            {% endfor %}
                
          </div>
        </div>
      </div>
    </div>
  </div>

</div>