<!-- Musik -->
<div id="musik" class="pt-16 pb-16 bg-musicBackground px-4">
    <h1 class="text-center color-black mb-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Musik
    </h1>

    <iframe class="container mx-auto" width="100%" height="380" title="Spotify Embed: KAUFMANN // ALLE LIEDER" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" src="{{page.musik.spotify_widget}}"></iframe>

    <div class="mx-auto container flex flex-col text-center mt-4">
        <span class="text-white block mb-4">oder</span> 
        <a class="self-center" href="https://music.apple.com/us/artist/kaufmann/1217160?itsct=music_box_badge&amp;itscg=30200&amp;app=music&amp;ls=1" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;" target="_blank"><img src="https://tools.applemediaservices.com/api/badges/listen-on-apple-music/badge/de-de?size=250x83" alt="Listen on Apple Music" style="border-radius: 13px; width: 250px; height: 83px;"></a>
    </div>
    
</div>