<div class="flex justify-center pt-8 pb-6 bg-heroBackground" id="home">
    <a href="#home" class="text-7xl italic font-semibold uppercase leading-6 text-light_gray hover:text-dark_gray">
        Kaufmann
    </a>
</div>

<!-- social media buttons -->
<div class="bg-heroBackground">
    <nav class="flex justify-center">

        {% for social in page.socials %}
        <div class="ml-1 mr-1 text-light_gray hover:text-dark_gray">
            <a href="{{ social.url }}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="{{ social.icon_name }} fa-stack-1x"></i>
                </span>
            </a>
        </div>
        {% endfor %}

    </nav>
</div>

<!-- navigation bar -->
<div class="sticky top-0 bg-heroBackground z-10">
    <nav class="flex gap-x-3 md:gap-x-12 pt-5 pb-5 justify-center items-center ">
        {% for navigation in page.navigations %}
            <a href="{{ navigation.url }}" class="text-md md:text-xl uppercase leading-6 text-light_gray hover:text-dark_gray">
                {{ navigation.text }}
            </a>
        {% endfor %}
    </nav>
</div>
