<!-- Pressetext -->
<div id="pressetext" class="pt-16 pb-16 bg-musicBackground px-4">

    <div class="px-4">
        <div class="mx-auto max-w-2xl py-4">
            <center>
                <img src="{{page.hero.pressefoto}}" class="rounded-sm shadow-2xl" alt="">
                <div class="my-2 text-xs">
                    Kaufmann (credits: Simon Garcia)
                </div>
                <div class="my-4 text-justify text-sm">
                    <p>
                        {% include bio_excerpt.html %}
                    </p>
                </div>
                
            </center>
        </div>
    </div>
    
</div>