<!-- shop -->
<div id="shop" class="pt-16 pb-16 bg-imagesBackground text-secondary px-4">
    <a href="{{page.shop.link}}" target="_blank">
        <h1 class="text-center mb-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">
            Shop
        </h1>
    </a>

    {% include gallery.html folder="shop" %}

</div>