<!-- Videos -->
<div id="videos" class="pt-16 pb-16 bg-videosBackground text-secondary px-4">
    <h1 class="text-center mb-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Videos
    </h1>

    <div class="container mx-auto grid gap-8 grid-cols-1 md:grid-cols-2">

        {% for video in page.videos %}
            <div class="aspect-w-16 aspect-h-9">
                <iframe class="rounded-sm w-full" src="{{ video.url }}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        {% endfor %}

    </div>
</div>