<!DOCTYPE html>
<html lang="en">

<head>

    {% include google-analytics.html %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>

    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{site.seo.description}}">
    <meta name="keywords" content="{{site.seo.keywords}}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="German">

    <meta property="og:image" content="{{site.seo.og_image.path}}" />
    <meta property="og:image:alt" content="{{site.seo.description}}" />

    <meta property="og:description" content="{{site.seo.description}}" />
    <meta property="og:locale" content="de_CH" />
    <meta property="og:site_name" content="{{site.title}}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/custom.css">

    <script src="https://kit.fontawesome.com/a40f1eb621.js" crossorigin="anonymous"></script>
</head>

<body class="bg-background text-primary font-sans">

    {% include navigation.html %}
    {% include hero.html %}
    {% include musik.html %}
    {% include shows.html %}
    {% include shop.html %}
    {% include videos.html %}
    {% include pressetext.html %}
    {% include kontakt.html %}
    {% include footer.html %}

</body>

</html>